$colors: (
    basic: #000000,
    primary: #2F6690,
    secondary: #16425B,
    bg: #3A7CA5,
    font: #D9DCD6,
    accent: #81C3D7
);

$fonts: (
    xs: .8em,
    s: 1em,
    m: 1.2em,
    l: 1.4em,
    xl: 1.6em,
    xxl: 2em,
    light: 200,
    regular: 400,
    bold: 600
);

@function color($color) {
    @return map-get($colors, $color)
};

@function font($font) {
    @return map-get($fonts, $font)
};

@mixin fonts($color, $size, $weight) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
};

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: color(bg);
}

%item {
    background: color(secondary);
    width: 100%;
}

%container {
    width: 960px;
    margin: 0 auto;
    padding: 10px;
}

.page-header {
    @extend %item;
    @media print {
        display: none;
    }
    &__container {
        @extend %container;
    }
    &__logo {
        @include fonts(color(font), font(xxl), font(regular));
    }
}

.page-footer {
    @extend %item;
    @media print {
        display: none;
    }
    &__container {
        @extend %container;
    }
    &__author {
        @include fonts(color(font), font(xs), font(regular));
    }
}

.page-content {
    display: flex;
    width: 960px;
    margin: 0 auto;
}

.button {
    @include fonts(color(basic), font(xs), font(regular));
    background: color(accent);
    text-transform: uppercase;
    border: 0;
    margin-bottom: 15px;
    padding: 5px 10px;
    @media print {
        display: none;
    }
    &__container {
        text-align: center;
    }
}

.resume-creator {
    width: 40%;
    @media print {
        display: none;
    }
    &__fieldset {
        position: relative;
        background: color(primary);
        border: 0;
        box-shadow: 0 0 15px rgba(0,0,0,.1);
        margin: 15px 20px;
        padding-top: 25px;
        padding-bottom: 15px;
    }
    &__heading {
        @include fonts(color(font), font(m), font(regular));
        position: absolute;
        top: 5px;
        left: 10px;
    }
    &__row {
        display: flex;
        margin: 0 5px;
        padding: 5px;
    }
    &__label {
        @include fonts(color(font), font(xs), font(light));
        width: 100%;
        margin: 0 5px;
        &--photo {
            display: none;
        }
    }
    &__span {
        width: 100%;
    }
    &__input {
        width: 100%;
        &--photo {
            display: none;
        }
    }
    &__textarea {
        width: 100%;
    }
}

.resume-preview {
    text-align: center;
    width: 60%;
    @media print {
        width: 100%;
    }
    &__template {
        background: #FFFFFF;
        box-shadow: 0 0 15px rgba(0,0,0,.1);
        width: 90%;
        min-height: 100vh;
        margin: 15px auto;
        padding: 25px;
        @media print {
            width: 100%;
            box-shadow: none;
        }
    }
    &__title {
        @include fonts(color(font), font(m), font(regular));
        margin: 15px;
        @media print {
            display: none;
        }
    }
    &__heading--name {
        @include fonts(color(primary), font(xl), font(regular));
    }
    &__heading--job-title {
        @include fonts(color(basic), font(s), font(regular));
    }
    &__row {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }
    &__heading {
        @include fonts(color(primary), font(m), font(regular));
        text-align: right;
        width: 40%;
        @media print {
            width: 30%;
        }
    }
    &__cap {
        @include fonts(color(basic), font(s), font(regular));
        text-align: right;
        width: 40%;
        margin: 5px 10px;
        @media print {
            width: 30%;
        }
    }
    &__desc {
        @include fonts(color(basic), font(s), font(light));
        text-align: left;
        width: 60%;
        @media print {
            width: 70%;
        }
    }
}