* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.resume {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    width: 100vw;
}

.page-header {
    background-color: #6477e2;
    width: 60%;
    height: auto;
    margin: 0;
    padding: 10px;
}

.page-header .logo {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.page-content {
    background-color: #94a1ed;
    width: 60%;
    margin: 0;
    padding: 10px;
}

.resume-heading {
    font-size: 1.2em;
}

.resume-row {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin: 0 5px;
    padding: 5px;
}

.page-content form fieldset {
    border: 0;
}

label {
    font-size: 0.9em;
    width: 150px;
    margin: 0 5px;
    padding: 0;
}

span, input, textarea {
    width: 100%;
}

.page-footer {
    background-color: #6477e2;
    width: 60%;
    height: auto;
    margin: 0;
    padding: 10px;
}

.resume-preview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    margin: 0 auto;
    padding: 0;
}

#layout {
    background: #FFFFFF;
    border: 1px solid #545454;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    width: 80%;
    min-height: 100vh;
    margin: 25px;
    padding: 0;
}

.layout-row {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin: 0;
    padding: 0;
}

.layout-heading {
    font-size: 1.2em;
    text-align: right;
    width: 40%;
    margin: 5px;
    padding: 0;
}

.layout-cap {
    font-size: 0.9em;
    text-align: right;
    width: 40%;
    margin: 5px 10px;
    padding: 0;
}

.layout-desc {
    width: 60%;
}