* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.page-header,
.page-footer {
    background-color: #838383;
    width: 100%;
}

.page-header__container,
.page-footer__container {
    width: 960px;
    padding: 10px;
}

.page-header__container {
    margin: 0 auto 20px auto;
}

.page-footer__container {
    margin: 10px auto 0 auto;
}

.page-header__logo {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.page-footer__author {
    font-size: 0.7em;
    margin: 0;
    padding: 0;
}

.page-content {
    display: flex;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.button {
    background: #e7e7e7;
    color: #769BFF;
    font-size: 0.7em;
    font-weight: 200;
    text-transform: uppercase;
    border: 0;
    margin: 0;
    padding: 5px 10px;
}

/* Resume creator */

.resume-creator {
    min-width: 340px;
    width: 40%;
    margin: 0;
    padding: 0;
}

.resume-creator__heading {
    font-size: 1.1em;
    color: #769BFF;
    margin: 0;
    padding: 0;
}

.resume-creator__row {
    display: flex;
    margin: 0 5px;
    padding: 5px;
}

.resume-creator__fieldset {
    border: 0;
}

.resume-creator__label {
    font-size: 0.7em;
    color: #838383;
    width: 150px;
    margin: 0 5px;
    padding: 0;
}

.resume-creator__span,
.resume-creator__input,
.resume-creator__textarea {
    width: 100%;
}

.resume-creator__input,
.resume-creator__textarea {
    border: 1px solid #CCCCCC;
}

.resume-creator__input--photo {
    border: 0;
}

/* Resume preview */

.resume-preview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 660px;
    width: 60%;
    margin: 0;
    padding: 0;
}

.resume-preview__title,
.resume-preview__heading--name,
.resume-preview__heading--job-title {
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.resume-preview__heading--name {
    color: #769BFF;
}

.resume-preview__template {
    background: #FFFFFF;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    width: 80%;
    min-height: 100vh;
    margin: 15px;
    padding: 25px;
}

.resume-preview__row {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin: 0;
    padding: 0;
}

.resume-preview__heading {
    font-size: 1.1em;
    color: #769BFF;
    text-align: right;
    width: 40%;
    margin: 0;
    padding: 0;
}

.resume-preview__cap {
    font-size: 0.9em;
    font-weight: 400;
    text-align: right;
    width: 40%;
    margin: 5px 10px;
    padding: 0;
}

.resume-preview__desc {
    font-size: 0.9em;
    font-weight: 200;
    width: 60%;
    margin: 0;
    padding: 0;
}

/* Printing */

@media print {
    .page-header,
    .page-footer,
    .resume-creator,
    .resume-preview__title {
        display: none;
    }

    .resume-preview {
        width: 100%;
        border: 0;
        margin: 0;
        padding: 0;
    }

    .resume-preview__template {
        width: 100%;
        box-shadow: none;
        margin: 0;
    }

    .resume-preview__heading,
    .resume-preview__cap {
        width: 30%;
    }

    .resume-preview__desc {
        width: 70%;
    }

    .button--print {
        display: none;
    }
}