* {
    box-sizing: border-box;
}

h2 {
    color: #769BFF;
    font-size: 1.8em;
}

h3 {
    font-size: 1.2em;
}

h2, h3 {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.page-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.resume {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 340px;
    width: 40%;
    margin: 0;
    padding: 0;
}

.page-header {
    width: 960px;
    margin: 0 auto 20px auto;
    padding: 10px;
}

.container {
    background-color: #838383;
    width: 100%;
}

.page-header .logo {
    font-size: 2em;
    padding: 0;
}

.resume-heading {
    font-size: 1.1em;
    color: #769BFF;
    margin: 0;
    padding: 0;
}

.resume-row {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin: 0 5px;
    padding: 5px;
}

fieldset {
    border: 0;
}

label {
    font-size: 0.7em;
    color: #838383;
    width: 150px;
    margin: 0 5px;
    padding: 0;
}

span, input, textarea {
    width: 100%;
}

#photo {
    border: 0;
}

input, textarea {
    border: 1px solid #CCCCCC;
}

.resume-preview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 660px;
    width: 60%;
    margin: 0;
    padding: 0;
}

.resume-preview-heading {
    margin: 0;
    padding: 0;
}

#layout {
    background: #FFFFFF;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
    width: 80%;
    min-height: 100vh;
    margin: 15px;
    padding: 25px;
}

.layout-row {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin: 0;
    padding: 0;
}

.layout-heading {
    font-size: 1.2em;
    text-align: right;
    width: 40%;
    margin: 5px;
    padding: 0;
}

.layout-cap {
    font-size: 0.9em;
    text-align: right;
    width: 40%;
    margin: 5px 10px;
    padding: 0;
}

.layout-desc {
    width: 60%;
}

#generate {
    background: #e7e7e7;
    color: #769BFF;
    font-size: 0.7em;
    font-weight: 200;
    text-transform: uppercase;
    border: 0;
    width: 75px;
    height: 20px;
    margin: 0;
    padding: 0;
}

.page-footer {
    background-color: #838383;
    width: 960px;
    height: auto;
    margin: 10px auto 0 auto;
    padding: 10px;
}

.author {
    font-size: 0.7em;
    margin: 0;
    padding: 0;
}